/*  your css code here. If applicable */
#yellow{
	background:yellow;
	border-width:1px green;
}
#red{
	background:red;
	border-width:1px black;
}
#green{
	background:green;
	border-width:1px yellow;
}


